 .u-section-1 {
  min-height: 1000px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 390px);
}

.u-section-1 .u-text-2 {
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 195px);
}

.u-section-1 .u-list-1 {
  width: 514px;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + -34px);
}

.u-section-1 .u-repeater-1 {
  min-height: 537px;
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 322px;
  height: 215px;
  margin: -500px calc(((100% - 1140px) / 2) + 184px) 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 240px calc(((100% - 1140px) / 2) + 103px) 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 489px;
  height: 489px;
  margin: -630px calc(((100% - 1140px) / 2) + 103px) 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 1140px) / 2) + 66px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -77px;
    margin-right: calc(((100% - 940px) / 2) + 184px);
  }

  .u-section-1 .u-btn-7 {
    width: 134px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 1140px) / 2) + 176px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 184px);
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 1140px) / 2) + 266px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 851px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -243px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}