 .u-section-1 {
  background-image: url("images/57a5d13169fd774143500d13ddaf6ae5ad06a9eec28023417b37481d0b5c58607ca22a051aa9327d804a1ad4c83f3f5f9153d85444730a3f3670a9_1280.jpg");
  background-position: 50% 50%;
  min-height: 1000px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 886px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 825px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 298px;
  }
}