 .u-section-1 {
  background-image: url("images/57a5d13169fd774143500d13ddaf6ae5ad06a9eec28023417b37481d0b5c58607ca22a051aa9327d804a1ad4c83f3f5f9153d85444730a3f3670a9_1280.jpg");
  background-position: 50% 50%;
  min-height: 1000px;
}

.u-section-1 .u-list-1 {
  width: 900px;
  margin: 815px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 825px;
  }

  .u-section-1 .u-btn-2 {
    padding: 8px 37px;
  }

  .u-section-1 .u-btn-3 {
    padding: 8px 37px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 632px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 240px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 474px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 298px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}