 .u-section-1 {
  background-image: none;
  min-height: 1000px;
}

.u-section-1 .u-image-1 {
  width: 1005px;
  height: 647px;
  margin: 157px auto 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-image-2 {
  height: 647px;
  width: 1005px;
  margin: -647px auto 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-list-1 {
  width: 900px;
  margin: 18px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 944px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 605px;
    margin-top: 179px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 605px;
    width: 940px;
    margin-top: -627px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-btn-2 {
    padding: 8px 37px;
  }

  .u-section-1 .u-btn-3 {
    padding: 8px 37px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1291px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 463px;
    margin-top: 476px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 463px;
    width: 720px;
    margin-top: -458px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 76px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 31px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 240px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 347px;
    margin-top: 378px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 347px;
    width: 540px;
    margin-top: -244px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -2px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 218px;
    margin-top: 369px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 218px;
    width: 340px;
    margin-top: -106px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 122px;
    margin-right: calc(((100% - 340px) / 2));
  }
}